body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

hi{
    color: blue;
}

ol{
    line-height: 2;
    padding-left: 100px;
}

div {
    border: red solid 2 px;
    background-color: lightblue;
}